
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* font-family: "Montserrat", sans-serif;
font-family: "Oswald", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}
body{
    font-family: "Montserrat", sans-serif;
}
header {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/16/15/28/boxer-1984344_1280.jpg');
    background-size: cover; /* para cubrir todo el área */
    /* Otras propiedades opcionales para ajustar la apariencia de la imagen de fondo */
    background-repeat: no-repeat; /* para evitar que se repita */
    background-position: center center; /* para centrar la imagen */
}

img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
 .header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: white;
    padding: 70px 0; 
}
.menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
   width: 80px;
   height: 80px;
   color: white;
   text-transform: uppercase;
   font-weight: 80;   
   
} 

 
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
       
}

.menu label{
    cursor: pointer;
    display: none;
    
}
.submenu{
    position: relative;
    
}
#img-carrito {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background-color: white; 
    padding: 10px; 
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    display: block; 
    margin: auto;
  }
 

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #ffffff;
    padding: 20px;
    min-width: 400px;
}
table{
    width: 100%;
}
th, td{
    color: #000000;
}
.borrar{
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex: 4;
    padding: 0 0px;
}
.header-img{
    flex-basis: 50%;
    text-align: left;
}
.header-txt{
    flex-basis: 30%;
    text-align: left;
}
.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}
.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}
.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #e6ded8;
    padding: 35px;
}
.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}
.ofert-img img{
    width: 250px;
}
.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}
.ofert-txt h3{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: black;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}
.products{
    padding: 50px 0;
    text-align: center;
}
.products h2{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px
}

.product{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.product img{
    width: 250px;
    height: 370px;
    margin-top: 20px;
}
.product h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.product p, .precio{
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
}
.precio{
    font-weight: 800px;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}
.icons-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #e0bdbd;
}
.incon-txt h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.incon-txt p{
    font-size: 16px;
    color: black;   
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.blog-1{
    flex-basis: calc(33.3% - 30px);
}
.blog-1 img{
    margin-bottom: 20px;
}
.blog-1 h3{
    font-size: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.blog-1 p{
    font-size: 16px;
    color: black;
}
.footer{
    padding: 50px 0;
    background-color: black;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.link a{

    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width:991px){

    .menu{
        padding: 20px;
    }
    .menu label{
        display: inline;
    }
    .menu .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818 ;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    .menu .nabvar ul li a{
        color: #ffffff;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }
    .header-txt h1{
        font-size: 70px;
    }
    .ofert{
        padding: 30px 30px 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }
    .products{
        padding: 0 30px 30px 30px;
    }
    .products h2{
        margin-bottom: 30px;
    }
    .product-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .product img{
        width: 200px;
        height: 200px;
    }
    .icons{
        padding: 30px;
        flex-direction: column;
    }
    .icons-1{
        margin-bottom: 30px;
    }
    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }
    .blog-1{
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}